<% include ../partials/header %>

<div class="container">
  <h1>Add new comment to <%= campground.name %></h1>
  <div style="width": 30%;>
   <form action="/campgrounds<%= campground._id %>/comments" method="POST">
    <input class="form-control" type="text" name="comment[name]" placeholder="comment">
    <input class="form-control" type="text" name="comment[author]" placeholder="Author">
    <button class="btn btn-lg btn-default">submit!</button>
   </form>
  </div>
  <a href="/campgrounds">go back</a>
</div>

<% include ../partials/footer %>