<% include ../partials/header %>

<div class="container">
  <h1>Add new campground</h1>
  <div style="width": 30%;>
   <form action="/campgrounds" method="POST">
    <input class="form-control" type="text" name="name" placeholder="name">
    <input class="form-control" type="text" name="image" placeholder="image url">
    <input class="form-control" type="text" name="description" placeholder="description">
    <button class="btn btn-lg btn-default">submit!</button>
   </form>
  </div>
  <a href="/campgrounds">go back</a>
</div>

<% include ../partials/footer %>
